<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="Message" class="com.springs.Message" init-method="init"
		destroy-method="destroy">
		<property name="msg" value="Hello Message"></property>
	</bean>
	<bean id="Mess" class="com.springs.Message" init-method="init"
		destroy-method="destroy">
		<property name="msg" value="Hello Mess"></property>
	</bean>
	<bean id="helloWorld" class="com.springs.HelloWorld">
		<property name="message1" value="Hello World!" />
		<property name="message2" ref="Mess" />
		<property name="message3" value="Namaste India!" />
	</bean>


	<bean id="helloIndia" class="com.springs.HelloIndia" parent="helloWorld">

		<constructor-arg ref="Message" />
		<constructor-arg type="int" value="2001" />
		<constructor-arg type="java.lang.String" value="Zara" />
		<property name="message1" value="Hello India!" />
		<property name="message3" value="Namaste India!" />
		<property name="message4" ref="Mess" />
	</bean>

</beans>